* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
}
.pad{
  padding-left: 0.625em;
  padding-right: 0.625em;
}
.padbottom{
  padding-bottom: 0.625em;
}
.padradio{
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-bottom: 0.625em;
}
@media only screen and (min-width: 600px) {
  .padradio{
    padding-top: 0.9375em;
    padding-bottom: 0em;
  }
}
.padall{
  padding-top: 0.625em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-bottom: 0.625em;
}
html {
  color: #333;
  font-family: Fira Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}
body{
  padding: 0;
  margin: 0;
  font-size: 100%;
}
m{
  font-family: monospace;
}
/* Mobile Screens */
[class*="col-"] {
  width: 100%;
}
.col-f {
  border-bottom: 0.0625em solid #c1c1c1;
}
@media only screen and (min-width: 600px) {
  .col-l {width: 35%;}
  .col-r {width: 65%;}
}
input[type=button]{
  letter-spacing: 0.05em;
  color: #333;
  background-color: #fbfbfb;
  border-radius: 0.125em;
  border: 1px solid #c1c1c1;
  padding: 0.1875em;
  min-width: 6.25em;
  height: 1.85em;
  font-size: 0.875em;
  margin: 0.25em;
}
input[type=button]:hover{
  background-color: #ebebeb;
}
input[type=button]:active{
  background-color: #dadada;
}
input[type=text]{
  color: #333;
  background-color: #ffffff;
  border-radius: 0.0625em;
  border: 0.0625em solid #c1c1c1;
  padding: 0.1875em;
  min-width: 6.25em;
  height: 1.85em;
  font-size: 0.875em;
  margin: 0.25em;
}
input[type=text]:focus{
  border: 0.0625em solid #006b9d;
}
input[type=radio]{
  width : 2.5em;
  margin : 0;
  padding : 0;
  opacity  : 0;
}
input[type=radio] + label{
  display      : inline-block;
  margin-left  : -1.5em;
  line-height  : 1.5em;
}
input[type=radio] + label > span{
  display : inline-block;
  width : 1.375em;
  height : 1.375em;
  margin-right: 0.375em;
  border : 0.0625em solid #c1c1c1;
  border-radius : 1.25em;
  background : #ffffff;
  vertical-align : bottom;
}
input[type=radio]:hover + label > span{
  border-color: #178ce5;
}
input[type=radio]:checked + label > span > span{
  display : block;
  width : 0.75em;
  height : 0.75em;
  border-radius : 1.25em;
  margin: 0.25em;
  background : #178ce5;
}